{
  "name": "vignette-ds-{{ SOURCE_ID }}",
  "type": "azuretable",
  "credentials": {
    "connectionString": "ResourceId={{ STORAGE_RESOURCE_ID }}"
  },
  {% if USER_ASSIGNED_IDENTITY_RESOURCE_ID %}
  "identity": {
    "@odata.type": "#Microsoft.Azure.Search.DataUserAssignedIdentity",
    "userAssignedIdentity": "{{ USER_ASSIGNED_IDENTITY_RESOURCE_ID }}"
  },
  {% endif %}
  "container": {
    "name": "{{ TABLE_NAME }}"
  },
  "description": "Azure Table Storage data source for tool-learning vignettes ({{ SOURCE_ID }})."
}
