{# This template combines general agent instructions with domain-specific instructions #}
{% if domain_prompt_paths is not none %}
{% for path in domain_prompt_paths %}
{% include path %}

{% endfor %}
{% elif domain_prompt_path is not none %}
{% include domain_prompt_path %}
{% endif %}

---------------------------------------------------

{% include 'base_agent_instructions.jinja' %}
