# CODEOWNERS — microsoft/agora-workbench
#
# Every file requires review from the repository admins.
#
# Reference: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*                               @bicsaurus @Danrong430 @jsmith13 @karin-strauss
